nav{
    width:100%;
    height: fit-content;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top:0;
    left:0;
    color:white;
}
nav a{
    color:#fff;
    text-decoration:none;

    display:flex;
    flex-direction:column;
    padding:5px 7px;
    align-items:center;
}
nav p{
    padding:0 0;
}
nav .selected{
    background:#F6AB1F;
}
nav .selected div{
    display: flex;
    height:10px;
    width:10px;
    background:#FFF;
    border-radius:50%;
    position:relative;
}
nav a:hover{
    cursor:pointer;
}

