body{
height:auto;
width:auto;
overflow: scroll;
color: #fff;
background: #333;
font-family: 'IBM Plex Mono';
display: flex;

justify-content: center;
align-items: center;
}
.row{display: flex;
    justify-content: center;
    align-items: left;
flex-direction: column;
}

a{
    color:greenyellow;
}
.col{
display:flex;
justify-content: left;
flex-direction: column
}
