
#projects{
    background-image:url(/public/projects.png);
    display:flex;
    justify-content:center;
    align-items:center;
}

#projects .gList img{
    background-image:url('/public/projtmp.png');
}
