body{
    color:#fff;
    font-family: 'IBM Plex Mono';
    display:flex;
    align-items:center;
}
#expand{
    display:flex;
    background:#00bb00;
    width:0.85vw;
    height:0.85vw;
    border-radius:50%;
    vertical-align: middle;
    margin:auto;
    margin-left:0.1vw;
    display:none;
}
#terminal{
    z-index: 1000;
    position: relative;
    margin: auto;

    background-color: #333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height:50%;
    width:50%;
    
    overflow: hidden;
}
#navbar{
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    top: 0;
    left: 0;
    background-color: #ddd;
    height:1.5rem;
    display:flex;

}
p{
    color: #fff;
}
#texts{
    left: 0px;
    word-wrap: break-word;
    padding: 0rem 1rem 1rem 1rem;
    color: #fff;
    position:absolute;
    width: 100%;
    top:1.5rem;
    bottom:0;
    overflow-y: scroll ;
    
}
.command br{
    display:none;
}
#foot{
    height: fit-content;

    
    left: 0;
    position: absolute;
    text-align: center;
    bottom: 1rem;
    width: 100%;
    vertical-align: bottom;
}
a{
    color:greenyellow;
}
