.mobile-navbar{
    display: block;
    list-style-type: none;
    transition: all 0.5s;
}
.box{
  margin:1rem;
  padding: 1rem;
  background-color:hsl(239, 100%, 17%);
  text-align: left;
  border-radius: 20px;
  border: 2px solid;
  border-color: hsl(239, 20%, 70%);
  
}
.divider{
  position: -webkit-sticky;
  position: sticky;
  top: 0.1rem;
  z-index: 1000;
  margin: 1rem;
  color: hsl(0, 100%,100%);
  font-size: 2rem;
}

ul {
  z-index: 1000;
    top:0%;
    left: 0%;
    right: 0%;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: hsl(239, 89%, 22%);
  }
  #titl{
    width:fit-content;
    font-family: "Lucida Console", "Courier New", monospace;
      color: hsl(0, 0%, 100%);
      margin: 30vh 5vw 0.5vh ;
       font-size: 3rem; 
       overflow: hidden;
       border-right: .15em solid rgb(255, 255, 255);
       white-space: nowrap;
       animation: 
      typing 1.5s steps(16, end),
      blink-caret .7s step-end 3;
      border-color: transparent;

  }
  #subtitl{
    color: hsl(238, 100%, 83%);
    width:0;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0vh 5vw 60vh ;
    border-right: .15em solid rgb(255, 255, 255);
    overflow: hidden;
    white-space: nowrap;
    animation: 
      typing 1.5s steps(16, end),
      blink-caret .7s step-end 3;
      animation-delay: 2.1s;
      border-color: transparent;
      animation-fill-mode: forwards;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 16ch }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% {  border-color: hsl(0, 0%, 100%)}
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(0, 0%, 100%);
    font-size:1rem;
  }
  li {
    display: inline;
    float: right;
    transition: all 0.5s;
  }
  li a {
    height:1rem;
    display: block;
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    text-decoration: none;
    transition: all 0.5s;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: hsl(239, 28%, 45%);
    color: white;
  }
  .active {
    background-color: #04AA6D;
    color: white;
  }