.mobile-navbar{
    display: block;
    list-style-type: none;
    transition: all 0.5s;
}
ul {
    top:0%;
    left: 0%;
    right: 0%;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: hsl(239, 89%, 22%);
    box-shadow: 0px 1px 20px;
  }
  li {
    display: inline;
    float: right;
    transition: all 0.5s;
  }
  li a {
    height:1rem;
    display: block;
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    text-decoration: none;
    transition: all 0.5s;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
  .active {
    background-color: #04AA6D;
    color: white;
  }